# This repo is a docs-only "front door": README, LICENSE and the dev Makefile.
# The two app repos live in this folder as their own git repos
# (designo_backend/ and designo_frontend/), so ignore everything by default.
*
!README.md
!LICENSE
!Makefile
!.gitignore
